:root {
  --font-weight: 700;
  --menu-bar: #a941ec; 
  --web: rgb(183, 255, 0);
  --opacity: .8;
  --web-background: rgb(89, 0, 255);
  --a: black; 
  --a-visited: #05676e;
  --a-active: #489c79;
  --button-background: #357b70; 
  --button-color: white;
  --button-secondary-background: #e0b354; 
  --button-secondary-color: #2b2b2b; 
  --grid-item:lightgray;
  --font-family: monospace;   
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
   height: 100%;
}

body {
  background: #AA5FE4;
  background: -webkit-linear-gradient(top left, #AA5FE4, #EC9E5C);
  background: -moz-linear-gradient(top left, #AA5FE4, #EC9E5C);
  background: linear-gradient(to bottom right, #AA5FE4, #EC9E5C);
  font-family: 'roboto', monospace;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight);
  font-size: 30px;
  font-family: var(--font-family);
  line-height: 1;
  display:inline-block;
  margin-top: 30px;
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight);
  font-family: var(--font-family);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight);
  font-family: var(--font-family);
}

table {
  font-weight: bold;
  font-family: var(--font-family);
}

.web{
  color: var(--web);
  background-color: var(--web-background);
}

.navigation-list__item--active {
  text-decoration: none;
  color: var(--menu-bar);
  opacity: var(--opacity);
}

a {
  color: var(--a);
  opacity: var(--opacity);
  font-family: var(--font-family);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  transition: 0.9s opacity;
}

a:visited {
  /* visited link */
  color: var(--a-visited);
}

a:active {
  /* selected link */
  color: var(--a-active);
}

input, textarea, select, button {
  font-family: system-ui;
}

.button, button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: var(--button-background);
  color: var(--button-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.9s opacity;
  font-family: monospace;
  box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: var(--opacity);
  box-shadow: none;
}

.button__secondary {
  background-color: var(--button-secondary-background);
  color: var(--button-secondary-color);
}

.introduction {
  max-width: 600px;
  margin: 0 auto;
}

.logo {
  flex: 0 1 200px;
}

.navigation-list {
  list-style-position: outside;
}

.page-head {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-head__item {
  flex: 0 1 200px;
}

.page-head__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.portrait {
  float: left;
  width: 250px;
  margin-right: 50px;
  border-radius: 50%;
}

.page-footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
}

.center-align {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  display: table-row;
  justify-content: right;
  clear: both;
  }

/* ------------GRID FALLBACK------------ */
.grid__item {
  display: inline-block;
  width: 33%;
 }
 /* end of grid fallback */
 
 @supports (display:  grid) {
 .grid {
     display: grid;
     grid-template-columns: 350px;
     justify-content: center;
     grid-gap: 5px;
   }
 
 .grid__item {
   background-color: #fb8b39;
   width: auto;
   min-height: auto;
   margin: 0;
   padding:  10px;
 }
 
  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
  from {
    transform: translate(400px, 200px);
  }
  to {
    transform: translate(initial);
  }
}

.sun {
  animation: 15s sun-move infinite alternate linear;
  animation: 15s color-change infinite alternate linear;
  scale: 3;
}

@keyframes cloud-move {
  /*to move clouds*/
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(1000px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
  scale: 2;
}

@keyframes cloud-move-reverse {
  from {
    transform: translateX(initial);
  }
  to {
    transform: translateX(-200px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
  scale: 5;
}

@keyframes typing {
  from { width: 0}
  to { width: 30%}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

.type-writer {
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap; 
  margin: 0 right;
  letter-spacing: .03em;
  animation:
      typing 5s steps(50, end),
      blink-caret 1s step-end infinite;
}
/* ------------MEDIA------------*/

/* makes website better for smaller screen sizes, should always be at the end of css */ 

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}